@{
    Layout = null;
    String name = "Robert Paulson";
    String method = "(unknown)";
    /*if (!Request["name"].IsEmpty())
    {
        name = Request["name"];
        method = "GET or POST";
    }*/
    if (!Request.QueryString["name"].IsEmpty())
    {
        name = Request.QueryString["name"];
        method = "GET";
    }
    if (!Request.Form["name"].IsEmpty())
    {
        name = Request.Form["name"];
        method = "POST";
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @{
            List<String> list = new List<String>();
            for (int i = 0; i < 10; i++)
            {
                list.Add("His name is " + name);
                <li>@list[i]</li>
            }
            <div>Method: @method</div>
        }
    </div>
</body>
</html>
