html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
    ;
}
header {
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: baseline;
    
}
h1{
    margin-left: 15px;
    font-weight: bold;
    font-size: 200%;
}
main {
    display: flex;
    flex-direction: row;
    
}
footer{
    display: flex;
    flex-direction: column;
}


*, *:before, *:after {
   box-sizing: border-box;
   font-family: Verdana;
   font-size: 16px;
   font-weight: unset;
   text-decoration: unset;
   color: black;
}