@{
    Layout = "_Layout.cshtml";
    RunPage();
    Response.Write("<script>alert('You gonna die in final battle with Thanos. Ops... Forgive \"a little\" spoiler ;)')</script>");
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
