@{
    //Layout = "_Layout.cshtml";
    Page.Title = "Suit v3";
}
<img src="~/Images/Arc2.png" alt="Arc reactor (Palladium)" />
@section Links{
    <a href="Mark3.cshtml">Mark III</a>
}
@section Info {
    <p>
        The Mark VI (Mark 6) is an All-Purpose Suit, and was the sixth suit
        built and created by Tony Stark after he found the solution to the
        Palladium core's poisoning, which was the newly improved Arc Reactor,
        in the movie Iron Man 2.
        The Mark VI's armor design is based on the Mark IV, 
        with the exception of the new triangular shaped Unibeam on its Chest
        Piece and armor coloring. Its overall color design uses red, gold and
        silver plates. It is the first armor to feature a triangular shaped
        Unibeam on its Chest Piece.
    </p>
}
