body {
    background-color: coral
}

.header {
    background-color: coral
}
img.icon{
    width: 250px;
    height: 150px;
}

.body {
    background-color: darkorange
}

.footer {
    background-color: bisque
}