<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/OnlineShop/styles/Style.css" />
    <title></title>
</head>
<body>
    <div class="header">
        <a href="~/OnlineShop/WelcomePage.cshtml">
            <img src="~/OnlineShop/images/all1.png" alt="LOGO" />
        </a>
        <a href="~/OnlineShop/ProductList.cshtml">
            <img src="~/OnlineShop/images/products.png" alt="Lista Produktów" />
        </a>
        <a href="~/OnlineShop/ShoppingCart.cshtml">
            <img src="~/OnlineShop/images/cart.png" alt="Koszyk" />
        </a>
        <a href="~/OnlineShop/AddNewProduct.cshtml">
            <img src="~/OnlineShop/images/add.png" alt="Dodaj nowy produkt" />
        </a>
    </div>
    <div class="body">
        @RenderSection("Body")
    </div>
    <div class="footer">
        <img src="~/OnlineShop/images/all2.png" alt="LOGO" />
    </div>
</body>
</html>
