@{
    
}

@section Body{
    <h1>
        Witaj w naszym sklepie internetowym napisanym w ASP.NET.
    </h1>
    <h3>

        <a href="~/OnlineShop/ProductList.cshtml">Przejdź do listy produktów</a><br />
        <a href="~/OnlineShop/ShoppingCart.cshtml">Zobacz swój koszyk</a><br />
        <a href="~/OnlineShop/AddNewProduct.cshtml">Dodaj nowy produkt</a><br />
    </h3>
}
